@media (max-width: 899px) {
  .gridContainer {
    grid-template-areas:
      "mainContent"
      "secondaryContent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 380px) {
  .header {
    justify-content: center;
  }
  .xtremeLogo {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 280px) {
  .mainContent {
    width: 250px;
  }
}
